:root {
  --jsontree_comp_font_family: Verdana,serif;
  --jsontree_comp_font_size: 14px;
  --jsontree_comp_color: black;
  --jsontree_comp_background: transparent;
  --jsontree_comp_width: 250px;
  --jsontree_comp_height: 300px;
  --jsontree_comp_down_icon: '\21D3';
  --jsontree_comp_title_font_size: 18px;
  --jsontree_comp_title_color: black;
}
.hideit {
  display: none;
}
.jsontree_comp_container {
  font-family: var(--jsontree_comp_font_family);
  font-size: var(--jsontree_comp_font_size);
  background: var(--jsontree_comp_background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jsontree_comp_container .title_box {
  color: var(--jsontree_comp_title_color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.jsontree_comp_container .tree_content {
  color: var(--jsontree_comp_color);
  width: var(--jsontree_comp_width);
  height: var(--jsontree_comp_height);
  overflow-y: auto;
  overflow-x: hidden;
}
.jsontree_comp_container .tree_content .icon_open::before {
  content: var(--jsontree_comp_down_icon);
  display: inline-block;
  color: var(--jsontree_comp_color);
  transition: 400ms linear all;
  margin-right: 4px;
  font-size: 18px;
  cursor: pointer;
}
.jsontree_comp_container .tree_content .icon_closed::before {
  content: var(--jsontree_comp_down_icon);
  display: inline-block;
  color: var(--jsontree_comp_color);
  transform: rotate(-90deg);
  transition: 400ms linear all;
  margin-right: 4px;
  font-size: 18px;
  cursor: pointer;
}
.jsontree_comp_container .tree_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.jsontree_comp_container .tree_content::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background-color: transparent;
}
.jsontree_comp_container .tree_content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D62929;
}
